.card-filter-input {
    padding: 2px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 45px;
    text-align: center;
}

.card-filter {
    margin-bottom: 20px;
    flex-basis: calc(50% - 30px);
}