.card {
    border: 2px solid #d3d3d3;
    border-radius: 6px;
    margin-bottom: 10px;
    max-width: 1200px;
}

.card-opened {
    border-radius: 6px 6px 0 0;
}

.card-title {
    font-weight: bold;
    font-size: 22px;
    color: black;
    white-space: nowrap;
    flex-grow:1;
}

.card-title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.card-header {
    padding: 20px 27px 20px 35px;
    cursor: pointer;
}

.card-header-opened {
    border-bottom: 2px solid #d3d3d3;
}

.card-dueDate {
    font-size: 20px;
    color: #767672;
    flex-grow:1;
}

.card-amount {
    font-weight: bold;
    font-size: 22px;
    color: black;
    flex-grow:0;
}

.card-number {
    font-size: 20px;
    color: #767672;
    margin-top:5px;
}

.card-down-arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAABy0lEQVQ4T2NkoBAwUqifYRAYsHv3bv43b95E8vDw7PX19b1NjJeePXsmcvDgwRBzc/P1jMuXL2/bt29fpby8/P7q6mpnRkbG/4QMWbRo0Yp9+/aFu7m57WCcMWPG8R07dliIi4szqKurny8sLLRmZGT8jsuQ6dOnbzt79qznly9fGHR0dBgYX79+LblgwYL9d+7cUf/x4weDhobGzczMTEsBAYH36IZ0dnYevHfvnt3fv38ZhISE3uTk5FiAY+H///+cdXV1h9++fWv8/ft3BgUFhUdJSUlWsrKyT2HybW1tBx8/fmz68+dPBnl5+SfJyckWIHl4NP7//59xwoQJB2/cuGELskFMTOxNQUGBopiY2Jeurq7rd+7c0fj16xeDmprarZycHCs+Pr63IMMx0sG0adO2nz171oOVlZVBUVHxIRMT07dbt25pMjExgTRfLCoqsmJkZPwG8x7WhDR//vw1hw4dCubl5QV5j+HPnz8M4uLiR+rr6x0YGRn/IocNzpS4bNmyhdu2bYtjY2NjMDIy2p2Tk+OGLWbwJuVFixZtfvPmjVBRUZE1rmjFa8D3798V7t27x62trX2VLAMIpUissUCMJqICkViDAD3/tcEvS7Y3AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 18px;
    margin-left: 25px;
    align-self: center;
}

.card-up-arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAABu0lEQVQ4T2NkoBAwUqifYZAbcPXqVW0lJaWvnJycD3B5Fa8X+vr6joqIiLyLi4vzJdmAKVOm7Dp37pzrr1+/GLy8vBZFRUXFYzMEwwX///9nbmxsPPDy5UsbFhYWBkZGRobPnz8z2NnZrU1MTAxBNwTFgP///3P19fUdu3Xrlv6/f/8Y1NTUrv/794/r/v378r9//2YwNjbekZWV5YlsCNyAT58+CU+ZMgWkWY2NjY1BRUXlRllZmearV694JkyYcP/Vq1cizMzMDBoaGocLCgrsGRkZ/4MMAhvw+PFj6blz5554+PChDDs7O4OsrOzpqqoqkKLvMPl58+Yde/DggRwnJyeDsLDw2aamJluQPOOjR4+Up0yZcuLdu3dgG5SUlA6Vl5fbo/v1w4cPgtOnTz9+48YNdQ4ODpALbyYkJDgytrS0/L9y5QoDDw8PyI/bMzMzvXBF2f///zn7+/uP3rx50/Dly5cMHh4eJxiXLVu2fdeuXR5OTk4r4+LiIgjljf///zO2trbuffjwoaOTk1M7471798RPnjwZaG9vv0ZKSuoNIQNA8ps3b1b98uWLs4iIyPJBnpmI8Q4A2bG0N4Td4LcAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    display: block;
    width: 16px;
    height: 18px;
    margin-left: 25px;
    align-self: center;
}

@keyframes card-description_appear-animation {
    0% { max-height: 0; }
    100% {  max-height:100vh;  }
}


.card-description {
    text-align: justify;
    color: #767672;
    font-size: 18px;
    margin: 20px 35px 35px;
    animation-name: card-description_appear-animation;
    animation-duration: 1s;
    overflow: hidden;
    max-height:100%;
}

